workspace/JavaMessagingService/src/main/app/javamessagingservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/message" doc:name="HTTP Listener Configuration"/>
    <jms:activemq-connector name="Active_MQ" specification="1.1" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="JMS-Producer">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/sendmessage" allowedMethods="POST" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <jms:outbound-endpoint queue="muleQueue" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="Sent message is: #[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="{&quot;message&quot;: &quot;Successfully sent message!&quot;}
" mimeType="application/json" doc:name="Set Payload"/>
    </flow>
    <flow name="JMS-Consumer">
        <jms:inbound-endpoint queue="muleQueue" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="Recieved Message is: #[payload]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="/src/main/resources" outputPattern=".txt" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
